/* General layout */
.flex {
  display: flex;
}

.h-screen {
  height: 100vh; /* Full screen height */
}

.w-64 {
  width: 16rem;
}

.flex-grow {
  flex-grow: 1;
}


/* Sidebar styles */
.sidebar {
  background-color: #e59191;
  color: white;
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  padding: 1rem;
  border-bottom: 1px solid #752020;
  height: 120px;
  width: auto;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  text-align: left;
  width: 100%;
}

.sidebar-link:hover,
.sidebar-link.active {
  background-color: #eea6a6;
}

.sidebar-link-icon {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.75rem;
}

.signout-button {
  margin: 1rem;
  padding: 0.5rem;
  background-color: #c94848;
  color: white;
  border-radius: 0.375rem;
  text-align: center;
}

.signout-button:hover {
  background-color: #eea6a6;
}

/* Top navigation styles */
.top-nav {
  background-color: white;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  height: 4rem;
}

.top-nav-title {
  font-size: 1.75rem;
  font-weight: 600;
}

.admin-info {
  color: #4a5568;
}

/* Main content area
.main-content {
  flex-grow: 1;
  padding: 1.5rem;
  background-color: #f7fafc;
  overflow-x: auto;
  min-height: 0;
} */


.admin-section {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}

.admin-section h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  border-bottom: 0.125rem solid #e87070;
  padding-bottom: 0.625rem;
}

.course-list-item {
  padding: 0.5rem;
  border-radius: 0.375rem;
}

.course-list-item:hover {
  background-color: #f1f5f9;
}

/* History section */
.history-section h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.125rem solid #e87070;
}
