.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d9a6a6;
}

.forgot-password-institute {
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    margin-bottom: 20px;
}

.forgot-password-form {
    background-color: #f5a5a5;
    padding: 40px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forgot-password-form label {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
}

.forgot-password-form input[type="text"] {
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #dfd0d0;
    font-size: 1.1em;
}

#forgotResetButton {
    padding: 12px;
    background-color: #e87070;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

#forgotResetButton:hover {
    background-color: #c95353;
}
