/* navbar */
.navbar {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 16px;
    border-bottom: 3px solid #dee2e6;
    background-color: #efc3c3;
}

.navbar .nav-link {
    color: #333; /* Default link color */
    margin-right: 20px;
}

.navbar .nav-link:hover {
    color: #0d1c80; /* Hover effect */
}

.logo-container {
    display: flex;
    flex-direction: column; /* Stack logo and student label vertically */
    align-items: center;
}

.logo {
    width: 150px;
    height: auto;
}

.student-label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #333;
    margin-top: 5px;
}

/* timetablePage.css */
.timetable-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 150px; /* Adjust for navbar height */
}

.main-layout {
    display: flex;
    height: 100%;
}

/* Sidebar for Courses */
.sidebar {
    width: 20%;
    background-color: #f8f9fa;
    padding: 20px;
}

.sidebar h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.course-box {
    background-color: #e9ecef;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.course-box h4 {
    margin: 0;
    font-size: 18px;
}

.course-box p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #6c757d;
}

/* Timetable */
.timetable {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header {
    display: flex;
    background-color: #f1f1f1;
    border-bottom: 1px solid #dee2e6;
}

.day-header {
    flex: 1;
    text-align: center;
    padding: 0.5rem;
    border-right: 1px solid #dee2e6;
    font-weight: bold;
    font-size: 14px;
    background-color: #f1f1f1;
}


/* dummy space to fix alignment issues */
.dummy-space {
    width: 10%; /* Width should match the .times width */
}

.main-content {
    display: flex;
    flex: 1;
}

/* Times on the left */
.times {
    width: 10%;
    padding: 20px;
    background-color: #f1f1f1;
    border-right: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
}

.time-slot {
    height: 60px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 5px;

}

/* Days columns */
.days {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.day-column {
    flex: 1;
    padding: 10px;
    background-color: #fff;
    border-left: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
}

.empty-slot {
    height: 60px;
    border-bottom: 1px solid #dee2e6;
    background-color: #f9f9f9;
    margin-bottom: 5px;
}